<ion-card>
  <ion-card-header>
    <div style="display: flex; justify-content: space-between;">
      <div style="text-align: left; width: 90%;">
        <ion-card-title>{{title}}</ion-card-title>
        <ion-note>{{frequency}}</ion-note>
      </div>
      <ion-button fill="clear"
        (click)="openActionSheet()">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </div>
  </ion-card-header>

  <ion-card-content>
    <ion-card-subtitle>Last check in</ion-card-subtitle>
    <div style="display: flex; justify-content: space-between;">
      <div style="text-align: left; width: 50%;">
        <p>{{ lastCheckIn ? (assignee + ' on ' + (lastCheckIn | date:'MMM d, y h:mm a')) : '--' }}</p>
      </div>

      <ng-container [ngSwitch]="frequencyStatus" style="min-width: 96px;">
        <ng-container *ngSwitchCase="'on-track'">
          <ion-chip>
            <ion-icon name="checkmark-circle"></ion-icon>
            <ion-note>{{frequencyStatus}}</ion-note>
          </ion-chip>
        </ng-container>
        <ng-container *ngSwitchCase="'late'">
          <ion-chip>
            <ion-icon name="warning"></ion-icon>
            <ion-note>{{frequencyStatus}}</ion-note>
          </ion-chip>
        </ng-container>
      </ng-container>

    </div>
  </ion-card-content>
</ion-card>