<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""
        icon="arrow-back-outline" />
    </ion-buttons>
    <ion-title>{{ (list$ | async)?.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear"
        (click)="openInformationModal()">
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true"
  class="">
  <div class="ion-padding"
    style="margin-top: 16px;">
    <div style="display: flex; justify-content: space-between;">
      <div>
        <ion-card-subtitle>Next due</ion-card-subtitle>
        <h2 style="margin: 0 0 0 0">Monday, Feb 12</h2>
      </div>
      <div style="text-align: right;">
        <ion-card-subtitle>Completion</ion-card-subtitle>
        <h2 style="margin: 0 0 0 0">3/5 items</h2>
      </div>
    </div>
    <ion-progress-bar value="0.6"
      style="margin-top: 16px; height: 8px;"></ion-progress-bar>
  </div>

  <ion-list lines="none">
    <app-chore-card *ngFor="let item of (list$ | async)?.chores"
      title={{item.title}}
      notes={{item.notes}}
      frequency={{item.frequency}}
      startDate={{item.startDate}}
      assignee={{item.assignee?.name}}
      lastCheckIn={{item.lastCheckIn}}
      (actionSheetEvent)="handleActionSheet($event)"></app-chore-card>
  </ion-list>

  <app-list-details-modal [isOpen]="isModalOpen"></app-list-details-modal>
</ion-content>