<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""
        icon="arrow-back-outline" />
    </ion-buttons>
    <ion-title>{{listDetails?.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear"
        (click)="openInformationModal()">
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true"
  class="">
  <div class="ion-padding"
    style="margin-top: 16px;">
    <div style="display: flex; justify-content: space-between;">
      <div>
        <ion-card-subtitle>Next due</ion-card-subtitle>
        <h2 style="margin: 0 0 0 0">Monday, Feb 12</h2>
      </div>
      <div style="text-align: right;">
        <ion-card-subtitle>Completion</ion-card-subtitle>
        <h2 style="margin: 0 0 0 0">3/5 items</h2>
      </div>
    </div>
    <ion-progress-bar value="0.6"
      style="margin-top: 16px; height: 8px;"></ion-progress-bar>
  </div>

  <ion-list lines="none">
    <app-chore-card *ngFor="let item of choresList"
      title={{item.title}}
      notes={{item.notes}}
      frequency={{item.frequency}}
      startDate={{item.startDate}}
      assignee={{item.assignee?.name}}
      lastCheckIn={{item.lastCheckIn}}
      (actionSheetEvent)="handleActionSheet($event)"></app-chore-card>
  </ion-list>

  <ion-modal #modal
    [isOpen]="isModalOpen"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]">
    <ng-template>
      <div style="height: 500px;">
        <ion-toolbar>
          <h4 slot="start">List details</h4>
          <ion-buttons slot="end">
            <ion-button (click)="isModalOpen = false"
              [strong]="true"
              fill="clear">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-content class="ion-padding">
          <ion-card-subtitle>Description</ion-card-subtitle>
          <p>{{listDetails?.description}}</p>
          <ion-card-subtitle>Created by</ion-card-subtitle>
          <div>
            <div style="display: flex; align-items: center;">
              <app-avatar name={{listDetails?.createdBy?.name}}></app-avatar>
              <p style="margin-left: 8px;">{{listDetails?.createdBy?.name}}</p>
            </div>
          </div>
          <ion-card-subtitle>Members</ion-card-subtitle>
          <div class="avatars">
            <app-avatar name="Foo" class="avatar"></app-avatar>
            <app-avatar name="Bar" class="avatar"></app-avatar>
            <app-avatar name="Zod" class="avatar"></app-avatar>
            <app-avatar name="+2" [isAvatar]=false [isCustom]=true class="avatar"></app-avatar>
          </div>
          <ion-card-subtitle>Statitics</ion-card-subtitle>

          <ion-grid>

            <ion-row>
              <ion-col size="4">
                <ion-card>
                  <ion-card-content>
                    <p>Total items</p>
                    <h1><strong>17</strong></h1>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col size="4">
                <ion-card>
                  <ion-card-content>
                    <p>Completed</p>
                    <h1><strong>17</strong></h1>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col size="4">
                <ion-card>
                  <ion-card-content>
                    <p>Active</p>
                    <h1><strong>17</strong></h1>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>



          </ion-grid>

        </ion-content>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>