<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""
        icon="arrow-back-outline" />
    </ion-buttons>
    <ion-title>{{listDetails?.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true"
  class="">
  <div class="ion-padding"
    style="margin-top: 16px;">
    <div style="display: flex; justify-content: space-between;">
      <div>
        <ion-card-subtitle>Next due</ion-card-subtitle>
        <ion-card-title>Monday, Feb 12</ion-card-title>
      </div>
      <div style="text-align: right;">
        <ion-card-subtitle>Completion</ion-card-subtitle>
        <ion-card-title>3/5 items</ion-card-title>
      </div>
    </div>
    <ion-progress-bar value="0.6"
      style="margin-top: 16px; height: 8px;"></ion-progress-bar>
  </div>

  <ion-list lines="none">
    <app-chore-card *ngFor="let item of choresList"
      title={{item.title}}
      notes={{item.notes}}
      frequency={{item.frequency}}
      startDate={{item.startDate}}
      assignee={{item.assignee?.name}}
      lastCheckIn={{item.lastCheckIn}}
      (actionSheetEvent)="handleActionSheet($event)"></app-chore-card>
  </ion-list>
</ion-content>