<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="lists" href="/tabs/lists">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>Lists</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chores" href="/tabs/chores">
      <ion-icon aria-hidden="true" name="checkmark-done-outline"></ion-icon>
      <ion-label>Chores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="people" href="/tabs/people">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>People</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
